header {
  padding: 1rem 0;
  background-color: var(--element-background-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

header .custom_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-weight: 800;
}

header .custom_container i {
  margin-right: 0.5rem;
}

header .custom_container span {
  cursor: pointer;
  font-weight: 700;
}

@media(max-width: 450px) {
  h2 {
    font-size: 1rem;
    font-weight: 800;
  }
}