.section-a {
  padding: 2rem 0;
  margin-top: 4rem;
}

.section-a .custom_container {
  padding-top: 1rem;
}

.operation {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.operation input {
  width: 35%;
  margin-right: 0.3rem;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 1px rgb(17, 17, 17, 0.5);
  color: var(--input-text-color);
}

.operation input:focus {
  outline: 0;
  box-shadow: 0 0 5px rgb(17, 17, 17, 0.5);
}

.operation input::placeholder {
  color: var(--input-text-color);
}

.content {
  padding: 1rem 0;
}

.card {
  background-color: var(--element-background-color);
  cursor: pointer;
}

.info {
  padding: 1rem;
}
.info h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: 800;
}

.info p {
  font-size: 1rem;
  font-weight: 600;
}

.info span {
  font-weight: 300;
  font-size: 0.8rem;
  color: var(--text-color);
}

.card_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  transition: 0.2s;
}

.dropdown-item {
  cursor: pointer;
}

@media(max-width: 950px) {
  .card_container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
  }
}

@media(max-width: 700px) {
  .card_container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.2rem;
  }
}

@media(max-width: 500px) {
  .card_container {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .operation {
    display: block;
  }

  .operation input {
    width: 70%;
    margin-top: 1rem;
  }
}